<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
</head>
<body>
    <h1>cool mathematics</h1>

    <form action="/math" method="POST">
        <input type="number" name="num1" placeholder="eg 2"><br>
        <input type="number" name="num2" placeholder="eg 4"><br>
        <select name="operation" id="operation">
            <option value="add">Add</option>
            <option value="substract">Substract</option>
            <option value="multiply">Multiply</option>
            <option value="division">Division</option>
        </select>
        <input type="submit" name="calculate" value="calculate">


    </form>

</body>
</html>